.title {
  text-align: center;
  background-color: rgb(240, 40, 40);
  color: white;
  width: 50%;
  padding: 5px;
}

.display {
  display: block;
  margin: 0 auto;
}

.second-title {
  color: white;
  background-color: black;
  width: 50%;
  padding: 5px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.button {
  background-color: red;
  color: white;
  border: none;
  padding: 7px 50px;
  border-radius: 5px;
}

.input-field {  
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}
